@font-face {
    font-family: 'Druk Cyr';
    src: url('fonts/DrukCyr-Heavy.eot');
    src: local('Druk Cyr Heavy'), local('DrukCyr-Heavy'),
        url('fonts/DrukCyr-Heavy.eot?#iefix') format('embedded-opentype'),
        url('fonts/DrukCyr-Heavy.woff2') format('woff2'),
        url('fonts/DrukCyr-Heavy.woff') format('woff'),
        url('fonts/DrukCyr-Heavy.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    font-family: inherit;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
}

p {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.title {
    font-family: 'Druk Cyr';
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 92px;
    text-transform: uppercase;
}

.header__menu {
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding: 0 12px 0 40px;
}

.menu li {
    display: inline-block;
    list-style: none;
    margin-right: 40px
}

.menu li:last-child {
    margin-right: 0;
}

.menu__link {
    text-decoration: none;
    font-weight: 500;
    line-height: 22px;
    color: #050608;
}

.menu__link-call {
    padding: 17px 23px;
    background-color: #000;
    color: #fff;
    transition: all .2s;
}

.menu__link-call:hover {
    background-color: #fff;
    color: #000;
    box-shadow: 5px 5px 5px -5px rgba(0, 0, 0, 0.6) inset;
}



.menu__link-hidden {
    display: none;
}


.menu__item:hover {
    border-bottom: 3px solid #000;
}

.header__title {
    background-color: #FCFF6F;
    width: 100%;
    position: relative;
    height: 459px;
}

.header__img {
    position: absolute;
    top: 82%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

.header__text-img {
    align-items: center;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

/* Technic */

.technic {
    margin: 220px 40px 0px 40px;
}

.technic__title {
    text-align: center;
    margin-bottom: 40px;
}

.technic-1 {
    background-color: #452E0A;
    max-width: 1200px;
    height: 450px;
    display: flex;
    padding: 40px;
}

.technic__img {
    padding-right: 40px;
}


.technic__info-title {
    font-family: 'Druk Cyr';
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 61px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 0;
    padding-bottom: 24px;
}

.technic__char {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 80px;
}

.technic__char-title {
    line-height: 19px;
    color: #9F967D;

}

.technic__char-text {
    font-family: 'Druk Cyr';
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 41px;
    text-transform: uppercase;
    color: #FCFF6F;
    padding-bottom: 24px;
    max-width: 252px;
}

.price-btn {
    line-height: 19px;
    color: #452E0A;
    height: 56px;
    width: 160px;
    margin-top: 50px;
    background-color: #FCFF6F;
    cursor: pointer;
    border: none;
}

.price-btn:hover {
    background-color: #fff;
    box-shadow: 5px 5px 5px -5px rgba(0, 0, 0, 0.6) inset;

}

.technic-2 {
    margin-top: 40px;
    background-color: #452E0A;
    max-width: 1200px;
    height: 450px;
    display: flex;
    padding: 40px;
}

.technic__img-2 {
    padding: 0;
}

.technic-others__inner {
    display: flex;
}

.technic-others {
    margin-top: 40px;
    background-color: #452E0A;
    max-width: 1200px;
    height: 450px;
}


.technic-others__img {
    padding: 40px;
}

.technic-others__items {
    padding-top: 40px;
}

.technic-other__title {
    font-family: 'Druk Cyr';
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 61px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.technic-other__subtitle {
    line-height: 19px;
    color: #9F967D;
    margin-bottom: 24px;
}

.price-btn__others {
    margin-top: 0;
}


/* Supply */

.supply {
    margin-top: 120px;
    width: 100%;
    height: 933px;
    background-color: #452E0A;
}

.supply__info {
    display: flex;
    padding-top: 80px;
    justify-content: space-around;
}

.supply__title {
    color: #FCFF6F;
    max-width: 494px;
    /* margin-right: 66px; */
}

.supply__info-text {
    max-width: 480px;
    margin-top: 20px;
}

.supply__info-title {
    font-size: 24px;
    line-height: 32px;
    color: #FFFFFF;
}

.supply__info-subtitle {
    margin-top: 12px;
    line-height: 28px;
    color: #FFFFFF;  
}

.supply__items {
    display: flex;
    justify-content: space-between;
    margin-top: 49px;
}

.supply__item {
    position: relative;
}

.supply__text {
    width: 370px;
    height: 144px;
    background-color: #FCFF6F;
    font-family: 'Druk Cyr';
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 48px;
    text-transform: uppercase;
    color: #452E0A;
    padding: 24px;
    position: absolute;
    bottom: 40px;
    left: 40px;
}

/* Deal */

.deal {
    margin-top: 160px;
}

.deal__items {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}

.deal__item {
    max-width: 373px;
    height: 268px;
    background-color: #452E0A;
}

.deal__item-img {
    padding: 34px 0px 34px 38px;
}

.deal__item-text {
    font-size: 24px;
    line-height: 32px;
    color: #FFFFFF;
    padding: 0 31px 32px 32px;
}

/* Cooperation */

.cooperation {
    margin-top: 160px;
    position: relative;
}

.cooperation__info {
    max-width: 1200px;
    height: 521px;
    background-color: #FCFF6E;
}

.cooperation__info {
    display: flex;
}

.cooperation__info-title {
    padding: 40px 0px 0px 40px;
    max-width: 494px;
    margin-right: 86px;
}

.cooperation__info-inner {
    max-width: 373px;
    padding-top: 40px;
}

.cooperation__info-text {
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    color: #000000;
}

.cooperation__info-subtitle {
    line-height: 24px;
    color: #404040;
    padding-top: 12px;
}

.cooperation__info-img {
    position: absolute;
    top: 328px;
}

/* Contacts */

.contacts {
    margin-top: 80px;
}

.contacts__info {
    background-color: #452E0A;
    height: 162px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
}

.contacts__info-title {
    font-family: 'Druk Cyr';
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 41px;
    text-transform: uppercase;
    color: #FFFFFF;
    opacity: 0.4;
}

.contacts__info-subtitle {
    font-family: 'Druk Cyr';
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 41px;
    text-transform: uppercase;
    color: #FFFFFF;
    text-decoration: none;
}

/* Footer */

.footer {
    margin: 40px 0px 20px 0px;
}

.footer__inner {
    max-width: 289px;
    margin: 0 auto;
}

.footer__text {
    font-weight: 900;
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;
    color: #C4C4C4;
}


@media (max-width:1200px) {

    .container {
        max-width: 1100px;
    }

    .header__text-img {
        width: 1084px;
        height: auto;
    }
    .supply__img {
        width: 540px;
        height: auto;
    }

    .deal__item {
        margin-right: 20px;
    }
    .deal__item:last-child{
        margin-right: 0;
    }
    .cooperation__info-img {
        width: 1002px;
        height: auto;
        right: 65px
    }
}

@media (max-width:1146px) {
    .container {
        max-width: 1000px;
    }
    .technic__info-title {
        font-size: 38px;
    }
    .technic__char-text {
        font-size: 24px;
    }
    .technic__char {
        grid-column-gap: 20px;
    }
    .cooperation__info-img {
        width: 920px;
        right: 55px;
        top: 350px;
    }
    .supply__img {
        width: 460px;
    }
    .supply__text {
        width: 320px;
        height: auto;
        font-size: 38px;
        bottom: 20px;
        left: 20px;
    }
    .supply__title {
        text-align: center;
        margin-right: 40px;
    }
}

@media (max-width:1086px) {

    .title {
        font-size: 54px;
    }
    .header__text-img {
        width: 768px;
    }
    .header__img {
        width: 573px;
        height: auto;
    }
    
    .technic__img {
        width: 469px;
        height: 303px;
    }

    .technic-other__title {
        font-size: 38px;
    }
    .cooperation__info-img {
        width: 840px;
        right: 100px;
        top: 375px;
    }
    .contacts__info-title, .contacts__info-subtitle {
        font-size: 26px;
    }
    .deal__item-text {
        font-size: 20px;
    }
}

@media (max-width:970px) {
    .container {
        max-width: 870px;
    }
    .technic-other__title {
        font-size: 32px;
    }
    .technic-others__img {
        width: 545px;
        height: auto;
    }
    .price-btn {
        width: 120px;
        height: 40px;
        margin-top: 20px;
    }
    .supply__img {
        width: 400px;
    }
    .supply__text {
        font-size: 28px;
        width: 200px;
    }
    .deal__item-text {
        font-size: 18px;
    }
    .cooperation__info {
        height: 450px;
    }
    .cooperation__info-text {
        font-size: 18px;
    }
    .cooperation__info-subtitle {
        font-size: 16px;
    }
    .cooperation__info-img {
        width: 780px;
        right: 85px;
        top: 315px;
    }
    .technic__info-title {
        font-size: 32px;
    }
    .technic__char-text {
        padding-bottom: 10px;
    }
    .technic__img {
        width: 428px;
        height: 274px;
    }
    .menu li {
        margin-right: 20px;
    }
    .menu__link-call {
        padding: 12px;
    }

    .technic-1, .technic-2 {
        display: block;
        height: auto;
    }
    .technic__img {
        display: block;
        margin: 0 auto;
    }
    .technic__info {
      display: flex; 
      flex-direction: column;
      vertical-align: center;
      align-items: center;
    }
    .technic__img-2 {
        padding-top: 20px;
    }
}

@media (max-width:880px) {
    .supply__info {
        flex-direction: column;
        align-items: center;
    }
    .supply__items {
        justify-content: space-around;
    }
    .supply__title {
        margin-right: 0;
    }
    .supply__img {
        width: 300px;
    }
    .supply__text {
        font-size: 21px;
        width: 155px;
        line-height: 30px;
        padding: 15px;
        bottom: 10px;
        left: 10px;
    }

    .container {
        max-width: 780px;
    }

    .cooperation__info-img {
        width: 700px;
    }
    .technic-others {
        height: auto;
        padding-bottom: 20px;
    }
    .technic-others__img {
        width: 465px;
        height: 393px;
    }
    .technic-other__title {
        font-size: 26px;
    }
    .technic-other__subtitle {
        font-size: 14px;
    }
    .cooperation__info-img {
        width: 650px;
        top: 345px;
    }
    .container {
        max-width: 768px;
    }
    .cooperation__info-title {
        margin-right: 40px;
    }
    .title {
        font-size: 48px;
        line-height: 60px;
    }
}

@media (max-width: 786px) {
    .header__text-img {
        width: 640px;
    }
    .header__title {
        height: 300px;
    }
    .header__img {
        width: 425px;
        top: 79%;
    }
    .technic-other__subtitle {
        margin-bottom: 0;
    }
    .technic-others__img {
        width: 385px;
        height: 313px;
    }
    .container {
        max-width: 686px;
    }
    .deal__item-text {
        padding: 0 15px 15px 15px;
    }
}

@media (max-width: 768px) {
    .cooperation__info-img {
        right: 45px;
    }
    .menu li {
        margin-right: 10px;
    }
    .menu__item {
        font-size: 14px;
    }
}

@media (max-width: 700px) {
    .cooperation__info-img {
        right: 35px;
        width: 600px;
    }
    .cooperation__info {
        height: 430px;
    }
    .header__menu {
        margin: 20px 0;
        flex-direction: column;
    }
    .cooperation__info-text {
        font-size: 16px;
        line-height: 24px;
    }
    .cooperation__info-subtitle {
        font-size: 14px;
        line-height: 20px;
    }
    .cooperation__info-img {
        right: 50px;
        width: 530px;
    }
    .contacts__info-title, .contacts__info-subtitle {
        font-size: 18px;
    }
}

@media (max-width: 654px) {
    .technic-others__inner {
        flex-direction: column;
        align-items: center;
    }
    .technic-others__img {
        width: 100%;
        height: 100%;
    }
    .technic-others__items {
        padding-top: 0;
    }
    .technic__img {
        width: 100%;
        height: auto;
    }
    .header__text-img {
        width: 476px;
    }
    .header__img {
        width: 340px;
        top: 79%;
    }
    .header__title {
        height: 230px;
    }
    .technic {
        margin-top: 100px;
    }
    .container {
        max-width: 554px;
    }
    .cooperation__info {
        flex-direction: column;
        align-items: center;
    }
    .deal__items {
        flex-direction: column;
        align-items: center;
    }
    .deal__item {
        margin: 0 0 10px 0;
    }
    .supply__img {
        width: 240px;
    }
    .supply__text {
        padding: 5px;
        line-height: 20px;
        width: 130px;
    }
}

@media (max-width: 582px)  {
    .cooperation__info-img {
        width: 350px;
        top: 325px;
    }
    .container {
        max-width: 482px;
    }
    .title {
        font-size: 38px;
        line-height: 50px;
    }
    .cooperation__info {
        height: 390px;
    }
    .supply {
        height: unset;
        padding-bottom: 10px;
    }
    .supply__items {
        flex-direction: column;
        align-items: center;
    }
    .supply__img {
        width: 300px;
    }
    .supply__info-title {
        font-size: 18px;
        line-height: 24px;
    }
    .supply__info-subtitle {
        font-size: 16px;
        line-height: 24px;
    }
}

@media (max-width: 582px)  {
    .cooperation {
        margin-top: 100px;
    }
    .menu__item:last-child {
        display: none;
    }

    .menu__link-hidden {
        display: block;
        text-decoration: none;
        font-weight: 500;
        line-height: 22px;
        color: #050608;
        padding: 12px;
        background-color: #000;
        color: #fff;
        transition: all .2s;
        margin: 30px 0;
    }
    
    .menu__link-hidden:hover {
        background-color: #fff;
        color: #000;
        box-shadow: 5px 5px 5px -5px rgba(0, 0, 0, 0.6) inset;
    }
    .header__menu {
        margin: 30px 0 80px 0;
    }
    .header__nav {
        margin-top: 10px;
    }
}

@media (max-width: 582px) {
    .container {
        max-width: 482px;
    }
    .header__text-img {
        width: 375px;
    }
    .header__img {
        width: 285px;
    }
}

@media (max-width: 486px)  {
    .container {
        max-width: 375px;
    }
    .cooperation__info {
        height: 480px;
    }
    .cooperation__info-img {
        top: 435px;
    }
    .cooperation__info-inner {
        max-width: 290px;
    }
    .contacts__info {
        padding: 10px;
        height: 125px;
    }
    .contacts__info-title, .contacts__info-subtitle {
        font-size: 16px;
        line-height: 26px;
    }
    .header__menu {
        padding: 0 10px 0 10px;
    }
    .deal .title {
        text-align: center;
    }
    .technic__img {
        width: 120%;
    }
}

@media (max-width: 414px) {
    .cooperation__info-img {
        right: 25px;
    }
    
}

@media (max-width: 407px)  {
    .header__nav {
        display: none;
    }
    .technic__img-2 {
        width: 100%;
    }
    .technic__char-text {
        font-size: 20px;
        line-height: 26px;
    }
    .technic__info-title {
        line-height: 40px;
        font-size: 24px;
    }
    .technic__char-title {
        font-size: 14px;
    }
    .cooperation__info-img {
        right: 20px
    }
    .deal__item {
        max-width: 100%;
        height: 230px;
    }
    .deal {
        margin-top: 80px;
    }
}

@media (max-width: 375px) {
    .container {
        max-width: 340px;
    }
    .header__text-img {
        width: 320px;
    }
    .header__img {
        width: 250px;
    }
    .menu__link-hidden {
        margin: 20px;
    }
    .header__menu {
        margin-bottom: 50px;
    }
    .cooperation__info-img {
        right: 5px;
    }
}